<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/khohoa"
        android:label="@string/app_name"
        android:roundIcon="@drawable/khohoa"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyKho"
        >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.inventory.AddFlowerActivity"
            android:exported="false"
            android:label="Thêm hoa mới"
            android:theme="@style/Theme.QuanLyKho" />

        <activity
            android:name=".ui.inventory.DetailActivity"
            android:exported="false"
            android:label="Chi tiết hoa"
            android:theme="@style/Theme.QuanLyKho" />

        <activity
            android:name=".ui.inventory.PriceHistoryActivity"
            android:exported="false"
            android:label="Lịch sử giá"
            android:theme="@style/Theme.QuanLyKho" />

        <activity
            android:name=".ui.transactions.CreateInvoiceActivity"
            android:exported="false"
            android:label="Tạo hóa đơn"
            android:theme="@style/Theme.QuanLyKho" />

        <activity
            android:name=".ui.transactions.InvoiceDetailActivity"
            android:exported="false"
            android:label="Chi tiết hóa đơn"
            android:theme="@style/Theme.QuanLyKho" />
    </application>

</manifest>